
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../Content/edutemplate/images/about.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Hakkımızda</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-about">
    <div class="container">
        <div class="col-md-6 animate-box">
            <span>Sanaldenemem.com</span>
            <h2>Nasıl Kuruldu ?</h2>
            <p>
                Daha çok sorunların içinde olanlar çözmeye yakın olurlar. Bizde sınav döneminde böyle birşeyin eksikliğini hissettik. Diğer
                katılacak arkadaşlar aynı zorlukları çekmesin diye böyle bir girişimde bulunduk.
            </p>
            <p>Girişimimizde küçük bir ekip ile başladık gelen destekler ile zamanla büyüyeceğiz. Bu süreçte bize düşüncelerinizi belirtebilirsiniz. İsterseniz bu girişimde bize destek olabilir ve iletişime geçebilirsiniz. Hep birlikte büyüyelim.</p>

        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/Content/edutemplate/images/img_bg_2.jpg" alt="Free HTML5 Bootstrap Template">
        </div>
    </div>
</div>

