
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../Content/edutemplate/images/blog.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Haberler &amp;  Tavsiyeler</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Haberler &amp;  Tavsiyeler</h2>
            </div>
        </div>
        <div class="row row-padded-mb">

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#" class="blog-img-holder" style="background-image: url(../Content/edutemplate/images/project-1.jpg);"></a>
                        <div class="blog-text">
                            <h3><a href="#">Başarılı Olmanın Yolları</a></h3>
                            <span class="posted_on">15 Mayıs 2020</span>
                            <span class="comment"><a href="">0<i class="icon-speech-bubble"></i></a></span>
                            <p>Eğer bu konuda sıkıntı çekiyorsan şunu yapabilirsin: Eğitmenin anlattıklarını ekranda ki birşeyle bağdaştır yani. Bir soru çözüldü o sorunun çözülme yöntemini kafanda bir soru ile bağdaştırarak dikkatini hep ekranda tutup hem de ezber yapabilirsin.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#" class="blog-img-holder" style="background-image: url(../Content/edutemplate/images/project-2.jpg);"></a>
                        <div class="blog-text">
                            <h3><a href="#">Yeni Sınav Sistemi</a></h3>
                            <span class="posted_on">27 Temmuz 2020</span>
                            <span class="comment"><a href="">0<i class="icon-speech-bubble"></i></a></span>
                            <p>Bu konu ile ilgili aşırı kaygı hisseden öğrenciler evde bazı alıştırmalar yapabilir. Örneğin, evde soru çözerken maske ile ne kadar çok pratik o kadar iyi gelir ve gittikçe artan sürelerle kendilerini maske ile soru çözmeye hazırlayabilirler.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#" class="blog-img-holder" style="background-image: url(../Content/edutemplate/images/project-3.jpg);"></a>
                        <div class="blog-text">
                            <h3><a href="#">Üniversite Nasıl Seçilmeli ? </a></h3>
                            <span class="posted_on">10 Eylül 2020</span>
                            <span class="comment"><a href="">0<i class="icon-speech-bubble"></i></a></span>
                            <p>Birçok faktör var bunları iyice değerlendirmek mantıklı bir karar vermek için oldukça önemlidir. Peki ya ailemizin görüşleri bizi gereğinden fazla etkilemeli mi ? Kesinlikle hayır çünkü araştırmalara göre ailesinin seçimlerini okuyan insanlar hayatları boyunca mutsuz olmaktadırlar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

