@model List<SanalDenemem.MvcWebUI.Models.ExamResultDetails>
@{
    ViewBag.Title = "ExamResutlDetails";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<h2>ExamResutlDetails</h2>
@foreach (var item in Model)
{
    <h4>@item.Name</h4>
    <h4>@item.Surname</h4>
    <h4>@item.UserName</h4>
    <h4>@item.Score</h4>
}

