@model SanalDenemem.MvcWebUI.Entity.Exam

@{
    ViewBag.Title = "ExamQuestionTransition";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<div style="text-align: center;">
    <h1>Sınava Geçiş Ekranı</h1>
    <h4>(Sınav Süresi: @Model.ExamTime dk)</h4>


    @Html.ActionLink("Sınavı Başlat", "ExamQuestion", "Home", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>