@{
    ViewBag.Title = "ExamsShowResult";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
<script src="~/Scripts/jquery-3.5.0.js"></script>
<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../Content/edutemplate/images/exam.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Sınavlar</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-course">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Sınav Sonuç Listesi</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.DropDownList("DDLExamTypes", (IEnumerable<SelectListItem>)ViewBag.ExamTypeList, new { @class = "form-control", @id = "DDLExamTypes" })
            </div>
            <div class="col-md-4">
                <select class="form-control" id="DDLExams" name="DDLExams" disabled>
                </select>
            </div>
            <div class="col-md-4">
                <a class="form-control" style="background-color: #bdc3c7; color: #2c3e50;" href="@Url.Action("ExamResutlDetails","Home",new { id=1})">Listele</a>
                @*<button class="form-control" style="background-color: #bdc3c7; color: #2c3e50;">Listele</button>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#DDLExams').attr('disabled', true);
        $('#DDLExamTypes').prepend(createOption("", "Seçiniz..."));
        $('#DDLExams').prepend(createOption("", "Seçiniz..."));
        $('#DDLExamTypes').val("");
    });

    $('#DDLExamTypes').change(function () {
        console.log($(this).val());
        if ($('#DDLExamTypes').val() != '') {
            $('#DDLExams').attr('disabled', false);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetExamsByExamType", "Home")',
                data: { 'examTypeId': $(this).val()},
                success: function (response) {
                    $('#DDLExams option').remove();
                    $('#DDLExams').append(createOption("", "Seçiniz..."));
                    for (var i = 0; i < response.length; i++) {
                        var option = createOption(response[i].Id, response[i].Title);
                        $('#DDLExams').append($(option));
                    }
                },
                failure: function (response) {
                    console.log("Hata 1", response);
                },
                error: function (response) {
                    console.log("Hata 2", response);
                }
            });
        }
        else {
            $('#DDLTopics option').remove();
            $('#DDLTopics').append(createOption("Seçiniz...", "Seçiniz..."));
            $('#DDLTopics').attr('disabled', true);
        }
    });

    //DDL için option oluşturur.
    function createOption(code, text) {
        return "<option value=" + code + ">" + text + "</option>"
    }
</script>
