@model SanalDenemem.MvcWebUI.Entity.Exam

@{
    ViewBag.Title = "ExamQuestionTransition";
    Layout = "~/Views/Shared/_denemeLayout.cshtml";
}

<div style="text-align: center;">
    <br />
    <h1>Sınava Geçiş Ekranı</h1>
    <h4>(Sınav Süresi: @Model.ExamTime dk)</h4>
    <style>

        .container {
            border-style: outset;
            border-radius: 20px;
          
            box-shadow: 5px 10px 18px #888888;
        }
        .gradient-list{

            font-weight:200;
        }
    </style>
  
    <div class="container">
        <ol class="gradient-list" style="text-align:left; font-size:18px;color:black;font-weight:normal; margin:20px">
            <h3 style="text-align:center; font-size:32px;">Sınav Kuralları</h3>
            <br />
            <li>İlk öncelikle kendinizi hazır hissediyorsanız başlayabilirsiniz. </li>
            <li>Sınav esnasında yanınızda rahatsız edebilecek her şeyi kaldırın rahat bir şekilde sınava girebilecek ortamı hazırlayın. </li>
            <li>‘’<b>Sınavı başlat</b>’’ butonundan sonra sınava girebilirsiniz. </li>
            <li>Sınav başladıktan sonra ekranda görülen soruları cevaplamak istiyorsanız A,B,C,D,E şıklarından birini, boş bırakmak istiyorsanız boş bırakıyorum seçeneğini seçmeniz gereklidir. </li>
            <li><b>Sınavımız dört yanlış bir doğruyu götürmektedir.</b></li>
            <li>Sınavınızı bitirmek istersen sınav sayfasının altında bulanan ‘’<b>Sınavı Bitir</b>’’  butonuna basabilirsiniz. Sınavı bitirmek istemiyorsanız sınavı bitir butonuna basmayınız aksi takdirde sınava geri dönüş sağlanamayacaktır. </li>
            <li>Sınav sonuçları herkes sınava girdikten sonra sitemizde paylaşılacaktır.sosyal medya hesaplarımızda takip edebilirsiniz. </li>
            <li>Sorularımız çalındığı takdirde hukuki işlem başlatılacaktır. Başka yerde lütfen yayınlamayın çünkü emek ve kul hakkıdır. </li>

        </ol>
    </div>
    
    <br />
    <br />

    @Html.ActionLink("Sınavı Başlat", "ExamQuestion", "Home", new { id = Model.Id }, new { @class = "btn btn-primary" })
    <br />
    <br />
    <br />
    <br />

</div>