
@{
    ViewBag.Title = "Sanal Denemem";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../Content/edutemplate/images/2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>Evinizden kendinizi sınavlara hazırlayın.</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../Content/edutemplate/images/4.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>Online sınavlara kolay ve hesaplı erişim sağlayın.</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../Content/edutemplate/images/5.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>Rakipleriniz arasındaki yerinizi görün.</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-course-categories">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Neden bİZİ seçmeLİSİNİZ ?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-book2"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Kaliteli Soular</a></h3>
                        <p>Test kitaplarında bulunmayacak kadar özel ve yeni müfredata uygun sorular online olarak eğitmenlerimiz tarafından sitemize aktarılmaktadır.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-clock3"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Zaman Tasarrufu</a></h3>
                        <p>Sıranızı anında görebilmek ve sınav biter bitmez yanlışlarınıza ulaşmak diğer sınavlara göre size oldukça zaman kazandıracaktır.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-lightbulb"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Akıllı Rapor</a></h3>
                        <p>Profilinizdeki raporlama sistemi ile sonuçlarınızı görebilir kendi gelişmenizi izleyebilirsiniz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-credit-card"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Güvenli Ödeme</a></h3>
                        <p>Sitemizde kredi kartı bilgilerinizi almadan EFT yoluyla ödeme sağlanmaktadır. </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>







<div id="fh5co-gallery" class="fh5co-bg-section">
    <div class="row text-center">
        <h2><span>Instagram Gallery</span></h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(../Content/edutemplate/images/1.jpg);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(../Content/edutemplate/images/12.jpg);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(../Content/edutemplate/images/4.jpg);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(../Content/edutemplate/images/banner1.jpg);"></a>
        </div>
    </div>
</div>




<div id="fh5co-testimonial" style="background-image: url(../Content/edutemplate/images/school.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2><span>Başarı İçİn Özlü Sözler</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row animate-box">
                    <div class="owl-carousel owl-carousel-fullwidth">
                        <div class="item">
                            <div class="testimony-slide active text-center">

                                <blockquote>
                                    <p>&ldquo;Hiçbir başarımı tesadüfe borçlu değilim, buluşlarım da tesadüfün değil çalışmalarımın eseridir. &rdquo;</p>
                                </blockquote>
                                <span>Thomas Edison<br></span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">

                                <blockquote>
                                    <p>&ldquo;Çalışmak, uçup giden bir alışkanlıktır; bırakması kolay, yeniden başlaması zor bir alışkanlıktır. &rdquo;</p>
                                </blockquote>
                                <span>Victor Hugo<br></span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">

                                <blockquote>
                                    <p>&ldquo;Çalışmak, en hayırlı sermayedir.&rdquo;</p>
                                </blockquote>
                                <span> Hz. Ömer<br></span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">

                                <blockquote>
                                    <p>&ldquo;Çalışmak istemeyenler için, Tanrı hiçbir yerde yardımcı olamaz.&rdquo;</p>
                                </blockquote>
                                <span>Sigmund Freud<br></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="fh5co-blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>SINAV TARİHLERİ</h2>
            </div>
        </div>
        <div class="row row-padded-mb">
            <div class="col-md-3 animate-box">
                <div class="fh5co-event">
                    <div class="date text-center"><span>19<br>Haz.</span></div>
                    <h3><a href="#">YKS SINAVI</a></h3>
                    <p>Yükseköğretim Kurumları Sınavı <b>2021</b></p>

                </div>
            </div>
            <div class="col-md-3 animate-box">
                <div class="fh5co-event">
                    <div class="date text-center"><span>20<br>Haz.</span></div>
                    <h3><a href="#">AYT SINAVI</a></h3>
                    <p>Alan Yeterlilik Testi <b>2021</b></p>

                </div>
            </div>
            <div class="col-md-3 animate-box">
                <div class="fh5co-event">
                    <div class="date text-center"><span>19<br>Haz.</span></div>
                    <h3><a href="#">TYT SINAVI</a></h3>
                    <p> Temel Yeterlilik Testi <b>2021</b></p>
                </div>
            </div>
            <div class="col-md-3 animate-box">
                <div class="fh5co-event">
                    <div class="date text-center"><span>22<br>Kas.</span></div>
                    <h3><a href="#">DHPT SINAVI</a></h3>
                    <p>	Din Hizmetleri Alan Bilgisi Testi <b>2021</b></p>

                </div>
            </div>
        </div>

    </div>
</div>

<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(../Content/edutemplate/images/img_bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">

                    <div class="col-md-4 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-book2"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="23" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Deneme Sayısı</span>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-pencil"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="44200" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Çözülen Soru Sayısı</span>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-head"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="327" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Kayıtlı Üye</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
