@model SanalDenemem.MvcWebUI.Entity.Member
@{
    ViewBag.Title = "Ödemeler";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<h2> kullanıcı eft bu bunu yazması lazım veya username de isteyebilirsin <br /> @Model.UserId"</h2>
<h2> buda username i <br /> @Model.UserName</h2>