
@{
    ViewBag.Title = "SingleBlog";
    Layout = "~/Views/Shared/_singleBlogLayout.cshtml";
}

<h2>SingleBlog</h2>


<div class="super_container">

	<!-- Header -->

	<header class="header">
			
		<!-- Top Bar -->
	
        <style>
            body.button  {
                text-align: center;
                padding: 200px;
            }

            .button {
                display: inline-block;
                background: #4285f4;
                color: #fff;
                text-transform: uppercase;
                padding: 3px 30px;
                border-radius: 20px;
                box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
                cursor: pointer;
                -webkit-transition: all ease-in-out 300ms;
                transition: all ease-in-out 300ms;
            }

                .button:hover {
                    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
                    -webkit-transform: translate(0px, -10px) scale(1.2);
                    transform: translate(0px, -10px) scale(1.2);
                }

        </style>
		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <a href="@Url.Action("Index","Home")">
                                <div class="button">Geri Dön</div>

                            </a>
                        </div>
					</div>
				</div>
			</div>
		</div>

	</header>

	<!-- Menu -->

	<!-- Home -->



	<!-- Blog Image -->

	<div class="blog_top_image">
        <div class="blog_top">
            <div class="blog_background parallax-window" data-parallax="scroll" data-image-src="../Content/edutemplate/images/12.jpg" data-speed="0.8" style="background-image:~url(../Content/edutemplate/images/12.jpg);">
               
            </div>
           
        </div>
	</div>

	<!-- Blog Content -->

	<div class="blog_container">
		<div class="container">
			<div class="row blog_content_row">
				<div class="col">
					<div class="blog_content">
						<div class="blog_post_title_container">
							<div class="blog_category"><a href="#">YKS</a></div>
							<div class="blog_title">Sınav sisteminde yine köklü değişikler olacak</div>
						</div>
						<div class="blog_text">
							<p>Nam egestas lorem ex, sit amet commodo tortor faucibus a. Suspendisse commodo, turpis a dapibus fermentum, turpis ipsum rhoncus massa, sed commodo nisi lectus id ipsum. Sed nec elit vehicula, aliquam neque euismod, porttitor ex. Nam consequat iaculis maximus. Suspendisse potenti. In rutrum justo et diam egestas luctus. Mauris eu neque eget odio suscipit eleifend. Sed imperdiet ante quis felis tempor hendrerit. Curabitur eget fermentum ipsum. Sed efficitur eget velit eu vulputate. Duis tincidunt quam in erat dignissim consequat. Praesent tempus leo eu nisl fringilla interdum. Maecenas rutrum libero eget lacus bibendum tristique. Curabitur at felis lobortis, mollis ante ut, tempus elit. Morbi justo nisi, posuere sed augue id, iaculis tincidunt mi. Pellentesque sed dolor sed dui congue tempus a et felis.</p>
							<div class="blog_quote"><span></span>I’m sure Gwyneth Paltrow and her Goop disciples would chastise me for my enthusiastic consumption of carbohydrates, but bread is god’s nectar witched into dough, and I will not forsake it.</div>
							<p>And as for “junk food,” that obscure category, I don’t gravitate toward much of it. When I was growing up, my mother would anoint our school lunches with Little Debbie treats — Oatmeal Creme (sic) Pies, Swiss Rolls — and our pantry generally housed a bag or two of Utz potato chips, but the gastronomical larks stopped there. My sisters and I drank milk with dinner every night. We took vitamins as directed. We were flush with privilege: Our parents possessed the means to feed us bountifully, and our mother dedicated herself to our welfare; she cooked for us most every night. My indulgences tend to correspond with the felicities enabled by an upper-middle-class socioeconomic background: cheeses from specialty stores, crème brûlée at a well-reviewed French restaurant, tea cookies from Whole Foods. In every culinary choice, my coddled upbringing rears its cushioned head.</p>
							<figure class="blog_post_image">
								<img src="images/blog_post_image.jpg" alt="">
								<figcaption>Lorem Ipsum Dolor Sit Amet</figcaption>
							</figure>
							<p>I can’t argue for the virtues of the Flamin’ Hot Cheetos: None exist. They’re amoral and fundamentally neutral, no more capable of assuaging my grief than the empty husk of “thoughts and prayers.” But not everything requires meaning — not everything needs to be something else. When I tuck away a bag of Flamin’ Hot Cheetos, I do it because I like them, because they’re nothing more than what they reveal themselves to be. That’s enough.</p>
						</div>
						<div class="blog_tags">
							<ul>
								<li><a href="#">Manual</a></li>
								<li><a href="#">Liberty</a></li>
								<li><a href="#">Interpretation</a></li>
								<li><a href="#">Recommendations</a></li>
							</ul>
						</div>
						<div class="blog_post_footer d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
							<div class="blog_post_author d-flex flex-row align-items-center justify-content-start">
								<div class="author_image"><div><img src="images/blog_author.jpg" alt=""></div></div>
								<div class="author_info">
									<ul>
										<li><a href="#">Ahmet Aslan</a></li>
										<li>Ekim 29, 2020 </li>
									</ul>
								</div>
							</div>
							<div class="blog_post_share ml-lg-auto">
								<span>Paylaş</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Similar Posts -->

			<div class="row similar_posts">

				
			
			</div>

		

			
		</div>
	</div>

</div>