﻿
@{
    ViewBag.Title = "SingleBlog";
    Layout = "~/Views/Shared/_singleBlogLayout.cshtml";
}

<h2>SingleBlog</h2>


<div class="super_container">

    <!-- Header -->

    <header class="header">

        <!-- Top Bar -->

        <style>
            body.button {
                text-align: center;
                padding: 200px;
            }

            .button {
                display: inline-block;
                background: #4285f4;
                color: #fff;
                text-transform: uppercase;
                padding: 3px 30px;
                border-radius: 20px;
                box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
                cursor: pointer;
                -webkit-transition: all ease-in-out 300ms;
                transition: all ease-in-out 300ms;
            }

                .button:hover {
                    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
                    -webkit-transform: translate(0px, -10px) scale(1.2);
                    transform: translate(0px, -10px) scale(1.2);
                }
        </style>
        <!-- Header Content -->
        <div class="header_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <a href="@Url.Action("Index","Home")">
                                <div class="button">Geri Dön</div>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- Menu -->
    <!-- Home -->
    <!-- Blog Image -->

    <div class="blog_top_image">
        <div class="blog_top">
            <div class="blog_background parallax-window" data-parallax="scroll" data-image-src="../Content/edutemplate/images/12.jpg" data-speed="0.8" style="background-image:~url(../Content/edutemplate/images/12.jpg);">

            </div>

        </div>
    </div>

    <!-- Blog Content -->

    <div class="blog_container">
        <div class="container">
            <div class="row blog_content_row">
                <div class="col">
                    <div class="blog_content">
                        <div class="blog_post_title_container">
                            <div class="blog_category"><a href="#">DHPT</a></div>
                            <div class="blog_title">Bir Başarı Hikayesi </div>
                        </div>
                        <div class="blog_text">
                            <p>
                                Herkese merhabalar, ben Erkan Çelik. Niğde’de İmam-Hatip olarak görev yapan, Sanaldenemem.com ailesinin başarmış bir üyesi. Başarmasıyla mutlu olan, mutluluğu ile hayatına renk katan sizden biri. Siz de sanaldenemem.com aracılığıyla hem kendinize, hem ailenize, hem de sevdiklerinize renk katmaya ne dersiniz? ‘’Çok iyi olur’’ dediğinizi duyar gibiyim. Öyle tabii. Kim istemez ki başarmayı? Başarı en mükemmel neticedir, uzuuuun yorgunlukların ve çalışmaların neticesinde.<br><br>
                                Şimdi, sanaldenemem.com’dan nasıl yararlandım, nasıl çalıştım ve nasıl kazandığımı görelim.<br><br>
                                Öncelikle, sanaldenemem.com sitesi, bir dhbt çalışanı için bulunmaz bir nimet. Çünkü kitap ve basit denemelerden gına geldi artık. Yanlış sorulan soru tarzları mı dersiniz, basitleştirilmiş soru tarzları mı dersiniz, cevabı yanlış sorular mı dersiniz… Durum böyle olunca insan hangi kitaba, hangi denemeye nasıl güveneceğini de bilmez oluyor haliyle. Ama sanaldenemem.com’da öyle sinir bozucu yanlışlara ve basitleşmiş sorulara yer yok. Tam da aradığımız ve imtihan olacağımız sorulara ve soru tarzlarına yer var. Ben, her hafta bir denemeye girerek kendimi geliştirmeyi amaçladım. Hafta içi çalıştığım konuların verimlerini hafta sonu yaptığım denemeden alıyordum. Nasıl mı? Sanaldenemem.com size hangi soruda yanlış yaptığınızı, kaç yanlış yaptığınızı ve yanlış soruların detaylarını da inceleme fırsatı veriyor. Böylelikle hangi konularda eksik kaldığınızı; tamamlamanız gerektiğini öğrenmiş oluyorsunuz.<br><br>
                                Biliyorum ve de inanıyorum ki; sanaldenemem.com ile birlikte sizler de başaracaksınız. Esen kalınız, sanaldenemem.com’la kalınız…<br>

                            </p>
                            <figure class="blog_post_image">
                                <img src="images/blog_post_image.jpg" alt="">

                            </figure>

                        </div>

                        <div class="blog_post_footer d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                            <div class="blog_post_author d-flex flex-row align-items-center justify-content-start">
                                <div class="author_image"><div><img src="images/blog_author.jpg" alt=""></div></div>
                                <div class="author_info">
                                    <ul>
                                        <li><a href="#">Erkan Çelik</a></li>
                                        <li>Ekim 29, 2020 </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog_post_share ml-lg-auto">
                                <span>Paylaş</span>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Similar Posts -->

            <div class="row similar_posts">



            </div>




        </div>
    </div>

</div>