@{
    var logInUser = (SanalDenemem.MvcWebUI.Identity.ApplicationUser)Session["LogonUser"];
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Lingua project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/Blog/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Content/Blog/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/Blog/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Blog/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Blog/plugins/OwlCarousel2-2.2.1/animate.css">
    <link href="~/Content/Blog/plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/Blog/styles/blog_single.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Blog/styles/blog_single_responsive.css">
    <script src="~/Content/Blog/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Blog/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/Blog/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/Blog/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/Blog/plugins/easing/easing.js"></script>
    <script src="~/Content/Blog/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Content/Blog/js/blog_single.js"></script>
</head>

<

        <div id="mainsection">

            @RenderBody()

        </div>
